<ion-header [translucent]="true">
  <ion-toolbar color="green">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="p2">
  <ion-grid class="text-center">
    <ion-row>
      <ion-col><img src="../../../assets/product/15promax.webp" height="200" width="180" alt="">
        <p>Iphon 15 Pro max</p>
        <p>ราคา 44,900 บาท</p>
        <ion-button size="large" expand="block" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
      <ion-col><img src="../../../assets/product/f23fe.webp" height="200" width="180" alt="">
        <p>samsung F23 FE</p>
        <p>ราคา 12,000 บาท</p>
        <ion-button size="large" expand="block" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
    </ion-row>

    <!--2-->
    <ion-row>
      <ion-col><img src="../../../assets/product/ipadair5.webp" height="200" width="180" alt="">
        <p>Ipad Air 5</p>
        <p>ราคา 45,900 บาท</p>
        <ion-button size="large" expand="block" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
      <ion-col><img src="../../../assets/product/mi-14tpro.webp" height="200" width="180" alt="">
        <p>Xiaomi T14 Pro</p>
        <p>ราคา 9,9500 บาท</p>
        <ion-button size="large" expand="block" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
    </ion-row>

    <!--3-->
    <ion-row>
      <ion-col><img src="../../../assets/product/mipad5.webp" height="200" width="180" alt="">
        <p>Xiaomi pad 5</p>
        <p>ราคา 23,900 บาท</p>
        <ion-button size="large" expand="block" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
      <ion-col><img src="../../../assets/product/s24.webp" height="200" width="180" alt="">
        <p>Samsung S24</p>
        <p>ราคา 23,900 บาท</p>
        <ion-button size="large" expand="block" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
    </ion-row>

    <!--4-->
    <ion-row>
      <ion-col><img src="../../../assets/product/ts9.webp" height="200" width="180" alt="">
        <p>Samsung Tab S9</p>
        <p>ราคา 34,900 บาท</p>
        <ion-button size="large" expand="block" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
      <ion-col><img src="../../../assets/product/vivo-y20.png" height="200" width="180" alt="">
        <p>Vivo Y20</p>
        <p>ราคา 8,780 บาท</p>
        <ion-button size="large" expand="block" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>